/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    background-image:url(images/lilib.png)
    background-repeat: no-repeat ;
    background-size:auto;
    background-position: right;

    
  }
  
  /* Header styles */
  header {
    background-color:grey;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 1.2rem;
  }
  
  /* Navigation styles */
  nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #ffc107;
  }
  
  /* Main content section styles */
  main {
    padding: 20px;
  }
  
  /* About section styles */
  #about {
    margin-top: 20px;
    text-align: center;
  }
  
  #about img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #about h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  #about p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  /* Footer styles */
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    header h1 {
      font-size: 1.5rem;
    }
  
    header p {
      font-size: 1rem;
    }
  
    nav a {
      font-size: 1rem;
    }
  
    #about img {
      width: 150px;
    }
  
    #about h4 {
      font-size: 1.2rem;
    }
  
    #about p {
      font-size: 1rem;
    }
  }